@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

$bg: rgb(92, 92, 120);
$bgLight: rgb(92, 92, 100);
$bgDark: rgb(92, 92, 100);

body {
  background-color: $bg;
  max-width: 960px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.label {
  color: white;
}

/* Bruk denne for plassering av elementer*/
.grid-container {
  display: flex;

  &--center {
    justify-content: center;
  }
}

.grid-item {
  &--box {
    background-color: rgb(23, 23, 32);
  }

  &--fullwidth {
    width: 100%;
  }

  &--halfwidth {
    width: 50%;

    &:first-of-type {
      margin-right: 8px;
    }
  }
}

.text-center {
  text-align: center;
}

/* logo */
.logo {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#logo {
  height: 25px;
  margin-top: 2px;
}

/* Hamburger Meny */
#burger {
  display: inline-block;

  transition: 150ms linear;
  &.active {
    transition: 150ms linear;

    transform: rotate(90deg);
  }
}

/* Navigasjons bar */
.nav {
  overflow: hidden;
  background-color: $bg;
  filter: brightness(80%);

  a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;

    &:not(.logo):hover {
      background-color: $bg;
      color: black;
      filter: brightness(80%);
    }
  }

  .icon {
    display: none;
  }
}

.right {
  float: right;
}

/* Mobile Enheter */
@media screen and (max-width: 640px) {
  .nav a {
    &:not(.logo) {
      display: none;
    }

    &.icon {
      float: right;
      display: block;
    }
  }

  .nav-container.right {
    float: left;
  }

  .grid-item--halfwidth {
    width: 100% !important;
  }
}

/* Store Enheter */
@media screen and (max-width: 640px) {
  .nav.nav--responsive {
    position: relative;

    .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    a {
      float: none;
      display: block;
      text-align: left;
    }
  }
}

/* Laget av Øyvind */
.bilde-forside {
  width: 400px;
  height: 200px;
}

.border-forside {
  background-color: $bgDark;

  margin-bottom: 8px;
}

h2 {
  font-size: 1.5em;
}

main,
.nav {
  font-family: "Roboto";
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.padding {
  padding: 15px 10px;
}

table th {
  width: 33%;
}

.pris-bilde {
  height: 250px;
}

h3.fordel {
  text-align: left;
}

iframe {
  border: none;
}

.coming-soon {
  &::before {
    content: "-";
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }

  color: rgb(129, 28, 28);
}

#location-placeholder {
  display: none;
  text-transform: capitalize;
}

.slideshow-container {
  position: relative;

  margin-bottom: 5px;
}

/* Skjul slidsene som standard */
.mySlides {
  display: none;

  img {
    width: 100%;
  }
}

/* Knapper */
.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.55);

  /* fikser problem hvor knapp fader-ut pga animasjon */
  z-index: 1;
}

.prev {
  left: 0;
}

/* Posisjonering av .next-knapp */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Ved hover, gjør farge mørkere */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 0;
  position: absolute;
  bottom: 4px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Nummer posisjon indikator */
.pagination {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: black;
}

/* dot posisjon indikator */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  &.active,
  &:hover {
    background-color: #717171;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

#abo__bil {
  margin-top: 14px;
}

#abo__bil,
#abo__båt,
#abo__bil-båt {
  img {
    width: 100% !important;
  }

  p {
    margin-top: 4px;
    margin-bottom: 24px;
  }
}

#bil,
#båt,
#bilogbåt {
  margin-bottom: 40px;
}
